[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/opencv"]
	path = extern/opencv
	url = https://github.com/opencv/opencv.git
